@using AmericaVirtual_Web.Models;
@using AmericaVirtual_DataModel.Manager;
@{
    var UserLogged = Web_Helper.GetUsuario();
}

@if (UserLogged.UserType == EnumTypeUser.Admin)
{
    <ul class="navbar-nav">
        <li class="nav-item active">@Html.ActionLink("Inicio", "Index", "Home", new { Area = "Intranet" }, new { @class = "nav-link navText" })</li>
        <li class="nav-item">@Html.ActionLink("Paises", "Index", "Countries", new { Area = "Intranet" }, new { @class = "nav-link navText" })</li>
        <li class="nav-item">@Html.ActionLink("Ciudades", "Index", "Provinces", new { Area = "Intranet" }, new { @class = "nav-link navText" })</li>
        <li class="nav-item">@Html.ActionLink("Usuarios", "Index", "User", new { Area = "Intranet" }, new { @class = "nav-link navText" })</li>
        <li class="nav-item">@Html.ActionLink("Perfil", "Perfil", "User", new { Area = "Intranet" }, new { @class = "nav-link navText" })</li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item active">@Html.ActionLink("Inicio", "Index", "Home", new { Area = ""}, new { @class = "nav-link navText" })</li>
    </ul>
}
<ul class="nav navbar-nav navbar-right ml-auto">
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-outline-america text-uppercase" style="font-size:15px;" type="button" id="ddLoginButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @HttpContext.Current.User.Identity.Name <i class="fas fa-user"></i>
            </button>
            <div class="formLogin dropdown-menu dropdown-menu-right p-2" aria-labelledby="ddLoginButton">
                <button class="btn btn-outline-america btn-outline-america-bc mb-2" style="width:100%;" type="button">@Html.ActionLink("Perfil", "Perfil", "User", new { Area = "Intranet"}, new { @class = "nav-link navText-d" })</button>
                <button class="btn btn-outline-america btn-outline-america-bc" style="width:100%;" type="button">@Html.ActionLink("Salir", "SignOut", "User", new { Area = "" }, new { @class = "nav-link navText-d" })</button>
            </div>
        </div>
    </li>
</ul>
